
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="banner-text">
    <div class="chid-pernt">
        <div class="child">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-box">
                            <h2>Come & Enjoy</h2>
                            <h1>Precious Moment With Us</h1>
                            <p>Best Place TO Enjoy Your Life</p>
                            <strong>10 Year Hotel</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
