
@{
    ViewBag.Title = "Rejected";
}
<br />
<br />
<h2>You have rejected the request. A confirmation email has been sent.</h2>
<h4>You can still return to the request and accept.</h4>

<p>
    @Html.ActionLink("Return Home", "Home")
</p>
